*.mov filter=lfs diff=lfs merge=lfs -text
public/assets/videos/Synapse_web1.mov filter=lfs diff=lfs merge=lfs -text
public/assets/videos/Synapse_web2.mov filter=lfs diff=lfs merge=lfs -text
public/assets/videos/Synapse_web3.mov filter=lfs diff=lfs merge=lfs -text
public/assets/videos/Synapse_web4.mov filter=lfs diff=lfs merge=lfs -text
